.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Docs Main */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Doc buttons */
.add-docs{
  height: 40px;
  width: 200px;
  background-color: #ffc107;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

/* Modals */

.add-input{
  width: 95%;
  height: 40px;
  outline: none;
  border: 1px solid #676767;
  border-radius: 0px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.button-container{
  text-align: center;
  margin: 30px;
}